<button style="background-color:yellow;border-radius: 10%" routerLink="/members" id="goback" class="basic-btn">Go Back</button>

  <div id="page" [@moveInLeft]="state">  
    <div class="row columns" >

      <h1 style="color:white">Room Details to Add</h1>
    <input type="text" #created id="room" placeholder="Enter Room Name" [(ngModel)]="roomNameVal" />
    <input type="text" #users id="users" placeholder="Enter users email (with comma between each)" [(ngModel)]="usersVal" />
    <button type="button" style="border-radius: 10%;width:100px" (click)="addNewRoom(roomNameVal, usersVal)">Add</button>
    </div>

  </div>
