<button style="background-color:yellow" routerLink="/members" id="goback" class="basic-btn">Go Back</button>

  <div id="page" [@moveInLeft]="state">  
    <div class="row columns" >

      <h1 style="color:white">Add Room name to create</h1>
    <input type="text" #created id="Contact" placeholder="Contact Name..." [(ngModel)]="ContactNameVal" />
    <button type="button" style="border-radius: 50%;width:100px" (click)="addNewContact(ContactNameVal)">Add</button>
    </div>

  </div>
