<div class="form-container" id="toolbar">
    <header [@fallIn]="state">
      <button style="background-color:red"(click)="logout()" class="basic-btn">Logout</button>
          <input type="text" readonly style=""[(ngModel)]="usersToShow"/>
        <button style="background-color:green;width:15%; float:right ; text-align: center"(click)="addRoom()" class="basic-btn">Add Room</button>
      <div *ngFor="let item of rooms | async ">
            <div *ngIf="checkAuthenticatedRoomsByUsername(item.users)">
              <button style="border: 4px solid black;background-color:#008B8B;width:15%; float:right ; text-align: center" class="basic-btn" (click)="openChatByRoom(item.key, item.id, item.administrator, item.users)">{{item.name}}</button>
          </div>
      </div>
    </header>
  <h4 style="color:white;background-color:black">My Rooms:</h4>
  <div id="page" [@moveInLeft]="state">  
    
    <div *ngIf= "name.auth.displayName != null">
      <h3 style="color:red;text-align: center;">Hey {{ name.auth.displayName }} !</h3>
    </div>
    <div *ngIf= "name.auth.email != null && name.auth.displayName == null">
      <h3 style="color:red;text-align: center;">Hey {{ name.auth.email }} !</h3>
    </div>
  <div *ngIf= "administrator == name.auth.email">
      <input type="text" #usersToAdd id="users" placeholder="Mail Users To Add Or To Remove..." [(ngModel)]="usersVal" />
      <button type="button" style="border-radius: 10%;width:100px;background-color:green" (click)="addAdditionalUsers(roomKey, roomId, usersOld, usersVal)">Add</button>
       <button type="button" style="border-radius: 10%;width:100px;background-color:red" (click)="removeUsers(roomKey, roomId, usersOld, usersVal)">Remove</button>
  </div>
    <div *ngIf="roomId == null">
        <h2 style="color:white;text-align: center;">Please select room </h2>
    </div>
<div *ngIf="roomId != null">
<div class="row columns" >

    <input type="text"   id="message" *ngIf="name" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value, name.auth.displayName,name.auth.email, name.auth.photoURL, roomId);scrollToBottom();" [(ngModel)]="msgVal" />
    <button type="button" style="margin-top: -70px;width:100px" (click)="chatSend(msgVal, name.auth.displayName, name.auth.email, name.auth.photoURL, roomId);scrollToBottom();">Send</button>
  <div #message1 style="width: 100%; height:80px; overflow-y: scroll;" scroll-glue>
    <div class="chat-container" style="margin-top:10px;" *ngFor="let item of messagesByRoomId | async ">
        <div *ngIf= "item.roomId == roomId">
                   <a>  <img src="assets/images/person.jpg" style="width:30px;height:30px;"/> {{item.name}}, {{item.time}} </a>
         <p>{{item.message}} </p>
                  

      </div>

      </div>
    </div>
</div>


    </div>


  </div>
    
</div>